<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="https://cdn.jsdelivr.net/npm/idb@8/build/umd.js"></script>
  <script type="module" src="{{ '/assets/js/repo.js' | relative_url }}"></script>
  <script>
    window.mkw = {
      'courses': {{ site.data.courses | jsonify }},
      'karts': {{ site.data.karts | jsonify }}
    }
  </script>

  {%- include head.html -%}


  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
